<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
      background-image: url(https://images.unsplash.com/photo-1575648048241-a2701dd251ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80);
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
  <div class="jumbotron bg-transparent">
    <h1><font 
    color="white"
    </font>
      San Francisco Crime Predictor</h1>
    <p2>Create a crime</p2>
    <br>
  </div>
  <br>
<form action="{{url_for('main')}}" method="post">
<body>
        <label for="Weekdays">Weekday:</label>
        <select name="Weekdays" id="Weekdays" required="required">
            <option value="" disabled selected>Day</option>
            <option value="1">Monday</option>
            <option value="5">Tuesday</option>
            <option value="6">Wednesday</option>
            <option value="4">Thursday</option>
            <option value="0">Friday</option>
            <option value="2">Saturday</option>
            <option value="3">Sunday</option>
        </select>
</body>
<body>
        <label for="ToD">Time of Day:</label>
        <select name="ToD" id="ToD" required="required">
            <option value="" disabled selected>Time </option>
            <option value="2">Morning</option>
            <option value="0">Afternoon</option>
            <option value="1">Evening</option>
            <option value="3">Night</option>
        </select>
</body>
<body>
        <label for="District">Police District:</label>
        <select name="District" id="District" required="required">
            <option value="" disabled selected>District</option>
            <option value="0">Bayview</option>
            <option value="1">Central</option>
            <option value="2">Ingleside</option>
            <option value="3">Mission</option>
            <option value="4">Northern</option>
            <option value="5">Park</option>
            <option value="6">Richmond</option>
            <option value="7">Southern</option>
            <option value="8">Taraval</option>
            <option value="9">Tenderlion</option>
        </select>
</body>
<body>
        <label for="Crime Category">Crime Category:</label>
        <select name="Category" id="Category" required="required">
            <option value="" disabled selected>Category</option>
            <option value="0">Assault</option>
            <option value="1">Burglary</option>
            <option value="2">Drug/Narcotic</option>
            <option value="3">Fraud</option>
            <option value="4">Larceny/Theft</option>
            <option value="5">Missing Person</option>
            <option value="6">Non-Criminal</option>
            <option value="7">Other</option>
            <option value="8">Other Offenses</option>
            <option value="9">Robbery</option>
            <option value="10">Secondary Codes</option>
            <option value="11">Suspicious Activity</option>
            <option value="12">Trespass</option>
            <option value="13">Vandalism</option>
            <option value="14">Vehicle Theft</option>
            <option value="15">Warrants</option>
            <option value="16">Weapon Laws</option>
        </select>
</body>
<button type="submit" class="btn btn-primary btn-block btn-small">Predict</button>
</form>
<br>
<br>
<div class="result" align="center">
  {% if result %}
    {% for variable, value in original_input.items() %}
      <b>{{ variable }}</b> : {{ value }}
    {% endfor %}
  <br>
    
     <p style="font-size:50px">{{ result }}</p>
  {% endif %}
</div>
<body>
  <img src="/resolutions.png" alt="resolutions graph">
  <img src="crimes_by_time_of_day.png" alt="crime times">
</body>
</html>